<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>豆瓣250电影筛选</title>
</head>
<body>
    <h1>根据上映时间筛选电影</h1>
 <form method="post">
    <label for="release_year">输入上映年份:</label>
    <input type="text" id="release_year" name="release_year" value="{{ year }}">
    <button type="submit">查询</button>
</form>

    {% if movies %}
        <h2>上映于 {{ year }} 年的豆瓣250电影列表：</h2>
        <ul>
            {% for movie in movies %}
            <li>{{ movie }}</li>
            {% endfor %}
        </ul>
    {% elif year %}
        <p>没有找到上映于 {{ year }} 年的豆瓣250电影。</p>
    {% endif %}
</body>
</html>
